body {
  background-color: whitesmoke;
  padding: 1rem;
  height: 1rem;
}

#name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#content{
  background-color:#9E9E9E;
  border: 2px solid #f5f5f5f5;
  border-radius: 20px; 
  position: fixed;
  
  
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: large;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: underline;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: underline;
}

#paragrafos{
  width: 70%;


}

#list{

}
